.pu {
  .logo-pu {
    svg path {
      fill: #0C839D;
    }
  }
  .subhead {
    color: $color-orange;
  }
  a {
    color: $color-orange;
  }
  .tldr {
    background: lighten($color-orange, 35%);
  }
  .resizer {
    
    // color: #fff;
    h1 {
      // color: #fff;
    }
  }
}